/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 200;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
*/
/* HTML5 display-role reset for older browsers */
/*
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*/

      .espaco{
        height: 15px;
      }
      .fotoPerfil{
        display: block;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      border-radius: 100px;
       
      }
      #teste{
        margin-left: auto;
        margin-right: auto;
      }
      .topo{
        background-color: #2F3A3E;
        color: gray;
      }
      .contato{
        background-color: #F89A1C;
        color: white;
      }
      .experiencia{
        background-color: #7FC241;
        color: white;
      }
      .col-4 p{
        margin-bottom: 0px;
      }
      .subTituloContato{
        text-transform: uppercase;
        color: #AFD58F; /*ss*/ 
        font-weight:900;
      }
      .centralizar{
        text-align: center;
      }
      .Habilidades{
        background-color: #83D1E7;
        color: white;
      }
      .xxt{
        width: 500px;
      }
      /*
      .experiencia{
        background-color: #7FC241;
        color: white;
      }
      .experiencia{
        background-color: #7FC241;
        color: white;
      }
      .experiencia{
        background-color: #7FC241;
        color: white;
      }
      .experiencia{
        background-color: #7FC241;
        color: white;
      }
      */
      .altura{
        height: 170px;
      }
      .Linguagens{
        background-color: #F89A1C;
        color: white;
      }
      .SobreMim{
        background-color: #F05759;
        color: white;
      }
      .Hobbies{
        background-color: #7FC241;
        color: white;
      }
      .Educacao{
        background-color: #F05759;
        color: white;
      }
      hr {
        position: absolute;
        z-index: -1;
    }
    .bolinha{
      height: 10px;
      width: 10px;
      border-style: solid;
      border-radius: 10px;
      border-color: black;
    }
